.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1440px) {
    .container{
        max-width: 1240px;
    }
}
@media (max-width: 1440px) {
    .container{
        max-width: 1240px;
    }
}
@media (max-width: 1200px) {
    .container{
        max-width: 992px;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 768px;
    }
    .login-form{
        width: 90%;
    }
    .sign-up-form{
        width: 90%;
    }
}
@media (max-width: 768px) {
    .container{
        max-width: 576px;
    }
}
@media (max-width: 576px) {
    .container{
        max-width: 100%;
    }
}