:root{
    --title-color : #030A1B;
    --text-color : rgba(3, 10, 27, 0.7);
    --primery-color : #FE753F;
    --scendery-color : #433E89;
    --white : #ffffff;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    font-family: Poppins;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.sign-up-form{
    width: 60%;
    height: 40rem;
    padding: 2rem 1.5rem;
    background-color: var(--scendery-color) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.sign-up__header{
    text-align: center;
    align-content: center;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--white);
    font-family: Poppins;
    margin-bottom: 4rem;
}
.sign-up__input-user,
.sign-up__input-pass,
.sign-up__input-btn{
    width: 80%;
    height: 5rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    color: var(--text-color);
    padding-left: 1rem;
    outline: none;
    border: none;
    font-family: Poppins;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.sign-up__link{
    color: var(--white);
    font-family: Poppins;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: flex;
    column-gap: 0.5rem;
    
}
.sign-up__link-text{
    transition: all 250ms;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
}
.sign-up__link-text:hover{
    color: var(--primery-color);
}
.sign-up__warning{
    color: var(--primery-color);
    font-family: Poppins;
    font-size: 1.2rem;
}
.sign-up__input-btn{
    color: var(--scendery-color);
    width: 50%;
    margin-top: 7rem;
    font-size: 2rem;
}



