@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf) ,format("truetype");
}
@font-face {
    font-family: Poppins-bold;
    src: url(../font/Poppins-Bold.ttf) ,format("truetype");
}